.accordionItem {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .accordionHeader {
    background-color: #f8f9fa;
    padding: .2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }
  
  .accordionContent {
    padding: .2rem;
    background-color: #fff;
  }
  

  .chatContainer {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .2rem;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chatMessage {
  padding: .3rem;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.6;
}

.question {
  background-color: #e3f2fd;
  color: #1e88e5;
  font-weight: 600;
}

.answer {
  background-color: #ffffff;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saveButton {
  margin-top: 10px;
  text-transform: none;
  font-weight: 600;
  border-radius: 20px;
  padding: .3rem;
}

.savedText {
  margin-top: 10px;
  color: #43a047;
  font-weight: bold;
  font-size: 14px;
}
