.questionBox {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    width:250px
  }
  
  .questionBox:hover {
    background-color: #e2e6ea;
  }
  